/*************
Global Styles
*************/

box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #696969;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    letter-spacing: .1em;

}

li:hover {
    color: #393939;
}

.hover {
    position: relative;
}

.hover::before {
    content: '';
    position: absolute;
    width: 110%;
    transform: scaleX(0);
    top: 1.4em;
    height: .1em;
    bottom: 0;
    left: -.2em;
    background-color: #393939;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.hover:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active {
    position: relative;
    color: #393939;
}

.active::before {
    content: '';
    position: absolute;
    width: 110%;
    transform: scaleX(1);
    height: .1em;
    top: 1.4em;
    bottom: 0;
    left: -.2em;
    background-color: #393939;
}

.text-underline::before {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(1);
    top: 1.4em;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #696969;
    transform-origin: bottom left;
}


.col-3 {
    width: 30%;
}

.col-2 {
    width: 13%;
}

/***************
header-container
***************/

/*nav-container*/
.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 7em;
}

.nav-links li:nth-child(3) {
    width: 20%;
}

.nav-links img {
    max-width: 100%;
}

.cart-menu-container {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    width: 3em;
}

/*****************
carousel-container
*****************/
.carousel-container {
    position: relative;
    text-align: center;
}

.carousel-container img {
    width: 100%;
}

.carousel-container .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Aguafina Script', cursive;
    letter-spacing: 0.2em;
    font-size: 3rem;
}

.carousel-container button {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 1em 1.5em;
}

.transparent-btn {
    background-color: Transparent;
    cursor:pointer;
    color: white;
    border: 1px solid white;
}

.opaque-btn {
    cursor: pointer;
    border: 1px solid white;
}

.transparent-btn:hover {
    background-color: white;
    color: #393939;
    transition: .5s all;
}

.opaque-btn:hover {
    background-color: transparent;
    cursor:pointer;
    color: white;
    transition: .5s all;
}

/****************
article-container
****************/
.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
}

.article-top-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.article-top-container h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #393939;
    margin-bottom: 0;
}

.article-top-left-container {
    width: 40%;
}

.article-top-right-container {
    width: 40%;
}

.article-top-left-container p {
    font-family: 'Aguafina Script', cursive;
    letter-spacing: 0.2em;
    font-size: 2.3rem;
    color: #DDB758;
    margin-top: 0;
}

.article-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    text-align: center;
}

.article-bottom-container > * {
    width: 15%;
}

.article-bottom-container > * > h3 {
    color: #393939;
}

.article-bottom-container img {
    width: 100%;
}

/****************************
categories-products-container
****************************/
.categories-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em 2em;
}

.heading-subheading-container h2 {
    font-size: 2.5rem;
    color: #393939;
    margin-bottom: 0;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.heading-subheading-container p {
    font-family: 'Aguafina Script', cursive;
    letter-spacing: 0.2em;
    font-size: 2rem;
    color: #DDB758;
    margin-top: 0;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.category-bakery-delicatessen-container,
.category-butcher-fishmonger-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-bakery-delicatessen-container > *,
.category-butcher-fishmonger-container > *{
    position: relative;
    overflow: hidden;
}

.category-bakery-container {
    height: 30%;
}

.category-delicatessen-container {
    height: 65%;
}

.category-greengrocer-container {
    position: relative;
    overflow: hidden;
}

.category-butcher-container {
    height: 65%;
}

.category-fishmonger-container {
    height: 30%;
}

.categories-container > * {
    width: 32%;
}

.categories-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s all;
}

.categories-container img:hover {
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    transition: .5s all;
    cursor: pointer;
}

.categories-container .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories-container .centered span {
    background-color: white;
    padding: .7em 3em;
    text-transform: uppercase;
    color: #393939;
    font-weight: 900;
    letter-spacing: .1em;
    cursor: pointer;
}

.categories-container .centered span:hover {
    background-color: #DDB758;
    color: white;
    transition: .5s all;
}

/* featured-products-container */
.featured-products-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    grid-template-rows:15em 15em;
    grid-gap: 1.2em;
}

.product-container .grid-item {
    position: relative;
    border: .1em solid #efefef;
    background-color: #efefef;
}

.img-content {
    color: #696969;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin-top: .5em;
}

.product-container img {
    width: 100%;
}

.product-container .grid-item:hover {
    background-color: #DDB758;
    cursor: pointer;
    transition: .5s all;
}

.product-container .grid-item:hover > * {
    color: white;
}

/***********
ad-container
***********/
.ad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.ad-img-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
}

.ad-img-container img {
    width: 100%;
}

.ad-social-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 2em;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-radius: .3em;
}

.ad-social-link a {
    text-align: center;
    color: #393939;
    font-weight: 900;
    margin: 0 auto;
}

/*****************
partners-container
*****************/
.partners-container {
    display: flex;
    justify-content: center;
}

.partners-img-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

/***************
footer-container
***************/
.footer-container {
    display: flex;
    background-color: #313639;
    color: #ababab;
    justify-content: center;
}

.footer-content-container {
    display: flex;
    flex-direction: column;
}

.footer-content-container.col-3 img {
    width: 60%;
}

.footer-content-container h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 4em;
    position: relative;
    letter-spacing: .2em;
}

.footer-content-container a {
    margin-top: 1em;
}

.footer-content-container p {
    color: #696969;
    letter-spacing: .1em;
}

.footer-content-container p span {
    color: #cccccc;
}